body {
  direction: rtl;
}
.pull-left {
  float: right;
}
.axanya-header .search-form .location {
  padding:21px 37px 20px 4px;
  border-left: 0;
}
ul.nav.pull-right.help-menu.list-unstyled {
  padding-right: 0; float:left;
}
.axanya-header .nav.logged-out {
  padding-right:0;
  float:left;
}
.axanya-header .regular-header .header-icon.icon-search-alt-gray {
  left:auto;
  right:5px;
}
.axanya-header .header-belo {
  margin: 11px auto 10px;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
  padding-right: 0;
}
.decorative-input.otp-input, .decorative-input.recaptcha_response_field {
    background-position: left -77px;
}
.decorative-input[type=password] {

}
.decorative-input[type=email] {
    /*background-position: left -33px;*/
}
.icon-btn.btn-large {
  padding-left: 27px;
  padding-right:51px;
}
.icon-btn.btn-large .icon {
  left:auto;
  right:20px;
}
ul.nav.pull-right.list-unstyled {
  float: left;
}
ul.nav.pull-right.last_menu.list-unstyled {
  padding-right: 0;
	float:left;
	border-right: none;
}
.header_item {
  border-left:none;
}
header#old-header {
  padding: 0 15px 0 0;
}
.SearchForm__label {
  padding: 0;
  text-align: right;
}
.select:before{
	left: 0;
	right: auto;
}
.SearchForm__dates, .dates-text, .DropDownWrapper .dates-text{
	text-align: right;
}
.SearchForm__guests.text-left.SearchForm__guests_infants.col-md-3.col-lg-2 {
  border: initial;
}
.SearchForm__location.col-lg-4.col-md-3.SearchForm__location_infants {
  border-left: 1px solid #ccc;
}
.DateRangePickerInput__arrow {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);
  position: relative;
  top: 1px;
}
.rowHeader_e3x0j {
	text-align: right;
}
#footer .col-md-2 {
  float: right;
}
.col-md-2.col-md-offset-1.hide-sm {
  margin-left: 0px;
  margin-right: 8.33333%;
}
.col-lg-3 {
  float: right;
}
.col-lg-6{
	float: right;
}
.icon-list {
  float: right;
}
.icon-list.right-list {
  float: left;
}
.select select{
	padding-left: 2em;
	padding-right: 10px;
}
select#guests {
  padding-right: 5px !important;
}
ul#search-form-header {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.axanya-header .dropdown-trigger .dropdown-menu.notifications-dropdown {
	left: 0px;
	right: auto;
}
.axanya-header .dropdown-trigger .dropdown-menu {
	left: 0;
	right: auto;
}
.axanya-header .dropdown-trigger .dropdown-menu>li {
	text-align:left;
}
.why-host-div {
	padding: 80px 00px 80px 60px;
	text-align: right;
}
.axanya-header .header-belo {
	margin: 9px auto 10px 15px;
}
.nav-item a {
	padding: 9px 20px 9px 0px;
}
.va-middle {
	float: left;
}
div#js-manage-listing-content-container .col-10 {
  float: right;
}
.col-2.text-right.next_step {
  text-align: left;
}
.row-space-top-2 .col-4 {
  float: right;
}
.row-space-top-2 .col-8 .label-large,
.row .col-8 .label-large {
  text-align: left;
}
#help-panel-summary .col-4 label.label-large {
  text-align: left;
}
.row-space-top-2 .col-4 label a {
  float: left !important;
}
.col-10 div#js-publish-button {
  float: left !important;
}
.col-2.row-space-top-1.next_step {
  float: right;
}
.nav-item .icon, .nav-item .dot {
  margin-left: 10px;
  margin-right: 0 !important;
}
.saving-progress{
	float: left !important;
}
#js-photos-grid .row-table .col-md-6, #help-panel-nightly-price .row-space-top-3 .col-4, .col-2.space-top-1,.not-post-listed .col-8  {
  float: right;
}
.not-post-listed div#js-publish-button {
  float: left !important;
}
.calendar-month .month-nav-next,.calendar-month .month-nav {
	float: left;
	margin:0 4px;
}
.calendar-month .tile, .calendar-month .days-of-week li,.segmented-control__option {
	float:right;
}
.modal_done {
  text-align: left;
}
.panel-body .text-muted .col-6, .calendar-edit-form .panel-body .col-6, .row-condensed .col-sm-2.text-right, .ib-better-off-state .panel > div:first-child, #summary .page-container-responsive .col-lg-8, .col-md-3.space-sm-4.text-center.space-sm-2, .col-md-3.text-muted.text-center.hide-sm, .row-condensed .col-sm-3, .row-condensed .col-sm-6.space-1-sm, div#details-column {
  float: right;
}
#pricing div#price_amount, #payment-period-container {
  float: left;
  padding-right: 12px;
}
.panel-footer {
  text-align: left;
}
.row-condensed .col-md-9,.row-condensed .col-md-3,#details-column .col-md-3
#details .page-container-responsive .row #details-column,#details-column .row .col-md-6 {
  float: right;
}
.rooms_amenities_before .col-sm-6, .js-p3-safety-features-section .row .col-sm-6, .room-section .page-container-responsive .row .col-lg-8, .col-lg-2.col-md-12.text-center-sm.text-center-md.row-space-sm-1.filter-label, form.col-lg-9.trip-form.ng-pristine.ng-valid, .filters-section .col-lg-9, .col-lg-2.col-md-12.text-center-sm.text-center-md.filter-label {
  float: right;
}
.pac-item {
  text-align: right;
}
.sidebar {
	left: auto;
	right: 15px;
}
.map {
	left: 0;
	right: auto;
}
.col-middle-alt .checkbox input {
	float: left;
}
.checkbox.panel {
	padding: 7px;
}
.filters-section .col-lg-9 .text-right {
	text-align: left;
}
.filters-section .col-lg-9 .col-6, .col-sm-12.row-space-2.col-md-6.ng-scope, .pagination li {
  float: right;
}
.footer-toggle {
	left: 0;
	right: auto;
}
@media(max-width: 767px) {
  .discovery-tiles .col-lg-6.col-md-12.rm-padding-sm {
    width: 100%;
  }
  footer .row-condensed .col-md-2 {
    width: 100%;
  }
  .axanya-header .header--sm .title--sm .search-btn--sm {
    padding: 22px 46px 22px 5px;
  }
  .axanya-header .header--sm .nav-content--sm .nav-icon {
    float: left;
  }
  .button_1hueyqh {
    left: 16px !important;
    right: auto;
  }
  .help-section-header h2{
  	font-size: 23px;
  }
  .js-section .row-space-top-2 .col-8,#help-panel-summary .row .col-8 {
    width: 100%;
  }
  .col-2.text-right.next_step{
  	text-align: center;
  }
  .manage-listing-row-container .listing-nav-sm {
    display: none;
  }
  .availability-option {
  	width: 100%;
  	margin: 5px 0;
  }
  .row.row-table{
  	width: 100%;
  }
  #calendar .wizard-pane .display-flex {
  	display: block;
  }
  .row-space-top-6 h4.col-6 {
    width: 100%;
  }
  .ib-better-off-state .row .row-condensed .col-sm-9 {
    width: 100%;
  }
  .saving-progress {
    float: left !important;
    width: 100%;
    margin-bottom: 0px;
    text-align: left;
  }
  .col-sm-6.space-1-sm {
    width: 100%;
  }
  #book_it .col-md-3 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width:1199px) {
  .why-host-div{
  	padding: 80px 30px 80px 60px
  }
  .checkbox.panel {
    padding: 7px 5px;
    font-size: 14px;
  }
  .ib-better-off-state .col-md-8 {
    width: 100%;
  }
  .textHeaderContainer_1sy11fq{
  	padding: 0 15px;
  }
  .footer-table {
    padding: 0 15px;
  }
  div#footer {
    padding: 40px 15px !important;
  }
  #host-profile .space-top-8 .col-lg-8 {
    width: 100%;
  }
  .col-sm-12.row-space-2.col-md-6.ng-scope {
    width: 100%;
  }
}
#welcomepopup a.close{
  left:4%;
  right:auto !important;
}
.rowHeader_e3x0j{
  font-family: initial;
}
.listing-nav-sm {
  left: auto;
  right: 0;
}
div#ajax_container {
  margin-left: 0 !important;
  margin-right: 260px !important;
}
.col-3 {
  float: right;
}
.row .col-4 {
  float: right;
}
.row .col-8 {
  float: left;
}
/*
.input-prefix {
  border-top-right-radius: 2px;
  border-right: 1px solid #c4c4c4;
  border-bottom-right-radius: 2px;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-prefix + .input-stem {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
*/
.input-prefix + .input-stem {
  text-align: right;
}
.label-inline {
  margin-left: 10px;
  margin-right: 0;
}
.right-indent {
  margin-left: 0;
  margin-right: 30px;
}
#edited_address_field .col-8 {
  float: right;
}
#edited_address_field .col-4 {
  float: left;
}
.input-addon {
  direction: ltr;
}
.what-is-link {
  margin-right: 0;
  margin-left: 35px;
}
.tile-handle-right {
  margin-left: -15px !important;
}
.tile-handle-left {
  margin-left: -63px !important;
}
.rtl-right {
  float: right !important;
}
.col-sm-offset-1.rtl-right {
  margin-left: 0;
  margin-right: 8.333333%;
}
.rtl-left {
  float: left !important;
}
.rtl-text-right {
  text-align: right !important;
}
.rtl-text-left {
  text-align: left !important;
}
.signup-form #inputEmail,
.signup-form #inputPassword {
  direction: ltr;
}
.signup-form #inputFirst input,
.signup-form #inputLast input {
  background-position: left 11px;
}
.signup-form {
  margin-left: -5px;
  margin-right: -5px;
}
#profile_pic_uploader {
  left: auto;
  right: -99999px;
}
.map-refresh-controls.google label.checkbox-icon input[type="checkbox"] {
  left: auto;
  right: -999px;
}
.media-photo {
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
}
.btn-large .icon.icon-facebook {
  margin-right: 0 !important;
}
.info-square-popup {
  left: auto;
  right: 0;
}
.info-square-popup .close {
  right: auto;
  left: 3px;
}
.info-square {
  margin-right: 0;
  margin-left: 6px;
}
.rich-toggle input[type="checkbox"] {
  margin-left: 0;
  margin-right: -9999px;
}